{{outlet}}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Hello!</h4></div>
    <div class="panel-body">
      <h4>Welcome to Razer Cars</h4>
      <p>Your one stop shop for all your car stats needs!</p>
      {{#link-to 'manufacturers' class="btn btn-warning"}}See All Manufacturers{{/link-to}}
    </div>
  </div>
</div>
