
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Mazda</h4></div>
    <div class="panel-body">
      <button class="btn btn-warning pull-right">Add New Car</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>2017 - Mazda 3</h4></div>
        <div class="panel-body">
          <p>
            Horsepower: 186
          </p>
          <p>
            Price: $17485
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>2017 - Mazda 3</h4></div>
        <div class="panel-body">
          <p>
            Horsepower: 186
          </p>
          <p>
            Price: $17485
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
