
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>{{model.name}}</h4></div>
    <div class="panel-body">
      {{#link-to 'manufacturer.car.new' class="btn btn-warning pull-right"}}Add New Car{{/link-to}}
    </div>
  </div>
  <div class="row">
    {{#each model.cars as |cars|}}
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h4>2017 - Mazda 3</h4></div>
          <div class="panel-body">
            <p>
              {{cars.name}}
            </p>
            <p>
              Price: $17485
            </p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{outlet}}
